<div>
  <h1 class='text-7xl text-red-800 font-bold mb-2'>Articles</h1>

  <p class="mb-8">Our blog has <%= Article.public_count %> articles and counting! </p>
  <ul class='mb-6'>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li class='text-red-400 mb-2 hover:text-red-600'><%= link_to article.title, article %></li>
      <% end %>
    <% end %>
  </ul>
  <div>
    <%= link_to 'New Article', new_article_path, :class => 'flex items-center justify-center border border-red-300 border-solid hover:border-red-700'%>
  </div>
</div>
